<h1>Edit Food</h1>

<div class="row">
	<div class="col-xs-12">
		<%= form_for(@food, :html => {class: "form-horizontal"}) do |f| %>
				<div class="form-group">
					<div class="control-label col-sm-2">
						<%= f.label :name %>
					</div>
					<div class="col-sm-8">
						<%= f.text_field :name, class: "form-control", placeholder: "Enter Food", autofocus: true  %>
					</div>
				</div>
			
				<div class="form-group">
					<div class="control-label col-sm-2">
						<%= f.label :price %>
					</div>
					<div class="col-sm-8">
						<%= f.text_field :price, class: "form-control", placeholder: "Enter price" %>
					</div>
				</div>

				<div class="form-group">
					<div class="control-label col-sm-2">
						<%= f.label :category %>
					</div>
					<div class="col-sm-8">
						<%= f.text_field :category, class: "form-control", placeholder: "Enter category" %>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<%= f.submit "Edit Food", class: "btn btn-primary btn-lg btn-xlarge" %> 
						<%= link_to "Delete", food_path(@food), method: :delete, data: {confirm: "Are you sure you want to delete this?"}, class: "btn btn-primary btn-lg btn-danger" %>
					</div>		
				</div>


		<% end %>
		<div class="col-xs-4 col-xs-offset-2">	
			<%= link_to "Cancel Request", foods_path %>
		</div>
	</div>

</div>