<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="manifest" href="/src/views/pwa/apps/manifests/_app.json"> -->
    <%= component 'pwa/manifest', url: request.base_url  %>
    <title>Brewandchewapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
